footer {
    width: 100%;

    background-color: #000000;
    display: flex;
    margin-top: 50px;
    padding: 50px;
    color: white;
    justify-content: space-between;

}

.name-container {
    width: 50%;
    padding-left: 10px;

}

.name-container h3 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 30px;
}

.name-container p {
    margin-left: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

.socials-container {
    width: 20%;
}

.socials-container h2 {
    margin-bottom: 30px;
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.icon {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 0px 10px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.copy {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
}

/* responsive code */

@media only screen and (max-width: 600px) {

    footer {
        flex-direction: column;

    }

    .name-container {
        width: 90%;
    }

    .socials-container {
        width: 90%;
    }

}