.single-project-container{
    width: 80%;
   
    background-color: #ddd;
    margin: 0px auto;
    margin-top: 50px;
}
.single-project-container img {
    width: 70%;
    display: block;
    margin: 0px auto;
}